# Gradle
.gradle/
build/
/captures
.externalNativeBuild
.cxx

# Configuración local y secretos
local.properties
*.jks
*.keystore
*.pem
*.p12
google-services.json
keystore.properties
.env

# IDE
*.iml
.idea/
*.hprof

# SO
.DS_Store
Thumbs.db
